/* Base bar settings */
* {
  font-family: JetBrainsMono, monospace;
  font-size: 13px;
  color: white;
}

/* Bar background */
window#waybar {
  background: rgba(10, 10, 10, 0.85);
  border-top: 2px solid #ff7ce5;
}

/* Shared module gradient style */
#workspaces,
#custom-player-artist,
#custom-player-song,
#custom-shutdown {
  background: linear-gradient(to right, #a855f7, #ec4899); /* Purple to pink */
  padding: 5px 12px;
  margin: 4px 6px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

/* Workspaces: show active and focused workspaces distinctly */
#workspaces button {
  background: transparent;
  color: white;
  border-radius: 6px;
  padding: 4px 8px;
}

#custom-cava {
  font-family: "Monospace";
  font-size: 22px;
  color: white;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  opacity: 0.95;
  border-radius: 8px;
  text-shadow: 0 0 5px rgba(232, 72, 145, 0.7);
  padding: 5px 10px;
}



#workspaces button.focused {
  background-color: #ec4899;
}

#workspaces button.urgent {
  background-color: #ff5555;
}

#workspaces button:hover {
  background-color: #a855f7;
}

/* Hover effects for shutdown */
#custom-shutdown:hover {
  background: linear-gradient(to right, #ff007f, #8e2de2);
  transition: background 0.3s ease-in-out;
}

